* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

body{
  color: #5B6E80;
  background-color: #fefefe;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

.App {
  height: 100vh;
}

nav {
  background-color: var(--element-color);
  margin-bottom: 1.5rem;
  padding: 1.4rem 1rem;    
  position: fixed;
  z-index: 3;
  width: 100vw;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1rem;
}
